@page "/actor/create"
<h3>CreateActor</h3>

<PeopleForm Person="Person" OnValidSubmit="Create"/>


@code {
    Person Person = new Person();

    private void Create()
    {
        Console.WriteLine("creating person...");
    }
}
