@page "/actor/create"
@inject IPeopleRepository peopleRepository
@inject NavigationManager navigationManger

<h3>CreateActor</h3>

<PeopleForm Person="Person" OnValidSubmit="Create" />


@code {
    Person Person = new Person();

    private async Task Create()
    {
        try
        {
            await peopleRepository.CreatePerson(Person);
            navigationManger.NavigateTo("cast");
        }
        catch (Exception ex)
        {

            Console.WriteLine(ex.Message);
        }
    }
}
