@page "/"
@*<p>Hello @name</p>*@

<div>
    @*name of the component, this allows us to use the info from MovieList razor component and display it on this page*@
    <MoviesList />

</div>

@code{

}