@page "/"
@*<p>Hello @name</p>*@

<div>
    @*name of the component, this allows us to use the info from MovieList razor component and display it on this page*@
    @*we are passing our "movies" list of type Movie in as a parameter*@
    <MoviesList Movies="movies">
        <NullTemplate>
            <span>test</span>
        </NullTemplate>
        <EmptyTemplate>
            <span>blue</span>
        </EmptyTemplate>
        @*<center>
            <img src="https://thumbs.gfycat.com/KindTerrificIggypops-max-1mb.gif">
            <p><b>ERROR! THE PAGE YOU'RE LOOKING FOR CAN NOT BE FOUND</b></p>
        </center>*@
    </MoviesList>

</div>

@code{
    private List<Movie> movies;
    // OnInitialized runs when our razor file loads
    protected override void OnInitialized()
    {
        //await Task.Delay(3500);
        //movies = new List<Movie>()
        //{
        //    new Movie () {Title = "The Wolf of Wall Street", ReleaseDate = new DateTime(2013, 12, 25)},
        //    new Movie () {Title = "The Lion King", ReleaseDate = new DateTime(1994, 6, 24)},
        //    new Movie () {Title = "The Godfather", ReleaseDate = new DateTime(1972, 3, 24)},
        //    new Movie () {Title = "Catch Me If You Can", ReleaseDate = new DateTime(2002, 12, 25)},
        //    new Movie () {Title = "Coco", ReleaseDate = new DateTime(2017, 11, 22)},
        //    new Movie () {Title = "Us", ReleaseDate = new DateTime(2019, 2, 21)},
        //    new Movie () {Title = "Bad Boys for Life", ReleaseDate = new DateTime(2020, 1, 17)},
        //    new Movie () {Title = "Logan", ReleaseDate = new DateTime(2017, 3, 3)},
        //    new Movie () {Title = "Kong: Skull Island", ReleaseDate = new DateTime(2017, 3, 10)},
        //    new Movie () {Title = "Jumanji: Welcome to the Jungle", ReleaseDate = new DateTime(2017, 12, 20)},
        //};
    }
}