@page "/movies/create"
@inject NavigationManager navigationManager

<h3>Create Movie</h3>

<MovieForm Movie="Movie" OnValidSubmit="SaveMovie"/>

@code {

    private Movie Movie = new Movie();
    private void SaveMovie()
    {
        Console.WriteLine("This works");
        //navigate to the movie route which is the detail page
        //navigationManager.NavigateTo("movies");
    }

}
