<div class="individual-movie-container">
    <a>
        <img src="@Movie.Poster" alt="Poster" class="movie-poster" />
    </a>
    <p>@Movie.TitleBrief</p>
    <div>
        <a class="btn btn-info">Edit</a>
        <button type="button" class="btn btn-danger"
                @onclick ="@(() => DeleteIndividualMovie.InvokeAsync(Movie))">
            Delete
        </button>
    </div>
</div>

@code {
    //need to pass in the parameter for the individual movie
    [Parameter] public Movie Movie { get; set; }
    //allows execution of a functionality to the parent component
    [Parameter] public EventCallback<Movie> DeleteIndividualMovie { get; set; }




}
