<div>
<p>@(temp += 1): Title: <b>@Movie.Title</b></p>
<p>Release Date: <b>@Movie.ReleaseDate.ToString("dd MM yyyy")</b></p>
</div>

@code {
    int temp = 0;
    //need to pass in the parameter for the individual movie
    [Parameter] public Movie Movie { get; set; }

}
